<div class="row" style="min-height: calc(100vh - 64px + .75rem);">
    <div class="col-3 is-3" style="height: 100vh !important;">
        <div class="columns" style="height: 100%;">
            <div class="column">
                <div class="settings-list" >
                    <aside class="menu" >
                        <ul class="menu-list" >
                            <ul class="menu-list" >
                                <li><a class="" routerLink="/user-profile">Profile</a></li>
                                <li><a class="is-active" href="/mysubscriptions">My subscriptions</a></li>
                                <li><a class="" href="/user-profile">Manage balance</a></li>
                                <li><a class="" href="/user-profile">Invite a friend</a></li>
                                <li><a class="" href="/user-profile">Password</a></li>
                            </ul>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-7">
        <div class="columns" style="height: 100%;">
            <div class="column">
                <div class="column" id="settings-content">
                    <link href="https://cdn.mentorcruise.com/css/bulma-calendar.min.css" rel="stylesheet">
                    <div class="content">
                        <h2><b>Manage subscriptions</b></h2>
                        <div id="preview-container" class="max-w-screen-md w-full" style="margin-top: 2em">
                        <p>We currently don't have any card info on file from you. Don't worry - we'll ask about it once you've
                        signed up for a mentorship.</p>
                        </div>
                        <div class="box max-w-screen-md mt-8">
                            <h2><b>Download subscription history</b></h2>
                            <div class="content">
                                <ul style="list-style-type: disc; margin-left:38px">
                                    <li>Reimbursements from your employer</li>
                                    <li>Personal bookkeeping</li>
                                    <li>Tax returns</li>
                                </ul>
                            </div>
                            <div class="max-w-md">
                                <form action="/mentee/management/invoices/" method="post" id="invoiceform" enctype="multipart/form-data"><input type="hidden" name="csrfmiddlewaretoken" value="FdT0R8BRTiBo1cEpIpPtdP5m6VLoN8T7dyjPvsjpoKHqk9ybtr2IXSbISxDk7Y3y">
                                <div class="flex flex-col my-5 md:space-x-4 md:flex-row">
                                </div>
                                <div class="flex flex-col my-5 md:space-x-4 md:flex-row">
                                    <div class="text-left text-base mb-2.5 w-full">
                                    <label class="inline-block text-sm font-medium text-gray-700" for="billing_name">Billing Name</label>
                                    <input type="text" name="billing_name" class="form-input shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" value="Mohamed Amr">
                                    </div>
                                    <div class="text-left text-base mb-2.5 w-full">
                                    <label class="inline-block text-sm font-medium text-gray-700" for="billing_email">Billing Email</label>
                                    <input type="text" name="billing_email" class="form-input shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" value="mohammed1997amr@gmail.com">
                                    </div>
                                    </div>
                                    <div class="flex flex-col my-5 md:space-x-4 md:flex-row mb-1">
                                        <div class="text-left text-base mb-2.5 is-expanded md:w-full">
                                        <label class="inline-block text-sm font-medium text-gray-700" for="billing_address">Billing Address</label>
                                        <input type="text" name="billing_address" class="form-input shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Address">
                                        </div>
                                        </div>
                                        <div class="flex space-x-4">
                                            <div class="text-left text-base mb-2.5 md:w-2/4">
                                            <input type="text" name="billing_zip" class="form-input shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="ZIP / City">
                                            </div>
                                            <div class="text-left text-base mb-2.5 md:w-2/4">
                                            <input type="text" name="billing_country" class="form-input shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Country">
                                            </div>
                                            </div>
                                            <div class="flex flex-col my-5 md:space-x-4 md:flex-row">
                                                <div class="text-left text-base mb-2.5 is-expanded md:w-full">
                                                <label class="inline-block text-sm font-medium text-gray-700" for="vat_id">VAT ID (optional)</label>
                                                <input type="text" name="vat_id" class="form-input shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="VAT ID">
                                                </div>
                                                </div>
                                                <button type="submit" class="blue-btn" style="margin: 20px 0; background-color: blue;">Download invoice</button>
                            </form></div>
                        </div>

                        
                        <div class="box max-w-screen-md mt-8">
                            <h2><b>Refunds</b></h2>
                            <p>In active mentorships, your mentor is able to issue refunds, pause payments and similar.</p>
                            <p>In closed mentorships or dispute cases, please fill out the refund request form.</p>
                            <p><a class="blue-btn" href="/refunds/" style="margin: 0 0 20px 0; background-color: blue;">Go to the refund request</a></p>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
